# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Archivos temporales adicionales
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bbl
*.blg

# Carpeta de VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db