.collection-hero {

    min-height: 600px;

    display: flex;

    align-items: center;

    padding: 80px 0;

    background:

        linear-gradient(
            90deg,
            rgba(0,0,0,.9),
            rgba(0,0,0,.35)
        ),

        url("../../assets/img/banners/banner-ofertas.jpg")
        center / cover no-repeat;

    color: white;
}


.collection-hero h1 {

    max-width: 700px;

    margin: 10px 0 20px;

    font-family: 'Oswald', sans-serif;

    font-size:
        clamp(4rem, 9vw, 8rem);

    line-height: .85;

    text-transform: uppercase;
}


.collection-hero p {

    max-width: 500px;

    margin-bottom: 30px;

    color: #ddd;
}